---
let FAQs = [
  [
    "What areas do you serve?",
    "We provide services throughout Missoula and its surrounding areas. If you're unsure about your specific location, please feel free to contact us.",
  ],
  [
    "How many passengers can your vehicles accommodate?",
    "Each of our standard vehicles can comfortably seat up to six passengers. For larger groups or special accommodations, please contact us in advance to arrange the most suitable transportation.",
  ],
  [
    "How can I schedule a ride?",
    "Scheduling a ride with us is as easy as sending a text. You can contact us at (406) 317-3563 OR (406) 552-8515 with your pick-up location, destination, and desired pick-up time.",
  ],
  [
    "Are you available for airport transfers at all hours?",
    "Absolutely! We offer round-the-clock services for Missoula Airport transfers, ensuring you have a reliable ride no matter when your flight lands or departs.",
  ],
  [
    "Do you offer transportation for private events?",
    "Yes, we do. Whether you need large passenger vans or luxury SUVs for your private event, we can accommodate. Please contact us in advance to discuss your needs and make arrangements.",
  ],
  [
    "How do you handle flight delays or changes?",
    "We monitor your flight status in real-time. If your flight is delayed or changed, we adjust our schedule accordingly to ensure your pick-up is perfectly timed.",
  ],
  [
    "Can I change or cancel my ride once it's scheduled?",
    "Yes, we understand that plans can change. If you need to adjust or cancel your scheduled ride, please let us know as soon as possible.",
  ],
  [
    "What safety measures do you have in place?",
    "Your safety is our top priority. All our vehicles are regularly maintained and our drivers are well-trained. Additionally, we adhere to stringent safety protocols and conduct regular checks to ensure the highest safety standards are met.",
  ],
];
---

<div class="grid grid-cols-1 gap-3 divide-y">
  {
    FAQs.map(([question, answer], index) => (
      <div class="collapse-arrow collapse rounded-none">
        <input type="radio" name={"faq-accordion"} />
        <div class="collapse-title text-xl  font-medium leading-7 text-gray-900">
          {question}
        </div>
        <dd class="collapse-content mt-2 text-base leading-7 text-gray-600">
          <p>{answer}</p>
        </dd>
      </div>
    ))
  }
</div>
